<?xml version="1.0"?>
<configuration>
	<property>
		<name>cacheplanner.algorithm.mode</name>
		<value>online</value>
		<description>
			Currently, supported modes are: online, offline
		</description>
	</property>
    <property>
		<name>cacheplanner.algorithm.setup</name>
		<value>multi</value>
		<description>
			Currently, supported modes are: multi, single
		</description>
	</property>
    <property>
        <name>cacheplanner.algorithm.batchtime</name>
        <value>50</value>
        <description>
            Only applicable in online mode. batch time in millisecond
        </description>
    </property>
    <property>
		<name>cacheplanner.generator.mode</name>
		<value>singleTable</value>
		<description>
			Currently supported modes:
			singleTable - generate single table queries
			replay - replay the experiment from the input json file
		</description>
	</property>
	<property>
		<name>cacheplanner.generator.replayfile</name>
		<value>test.json</value>
		<description>
			If replay mode is on, the input json file should be set.
		</description>
	</property>
</configuration>