<?xml version="1.0"?>
<configuration>
	<property>
		<name>cacheplanner.algorithm.mode</name>
		<value>online</value>
		<description>
			Currently, supported modes are: online, offline
		</description>
	</property>
    <property>
		<name>cacheplanner.algorithm.setup</name>
		<value>single</value>
		<description>
			Currently, supported modes are: multi, single
		</description>
	</property>
    <property>
        <name>cacheplanner.algorithm.batchtime</name>
        <value>1000</value>
        <description>
            Only applicable in online mode. batch time in millisecond
        </description>
    </property>
    <property>
		<name>cacheplanner.generator.mode</name>
		<value>singleTable</value>
		<description>
			Currently, supported modes are: grouping, singleTable
		</description>
	</property>
</configuration>